---

---

<nav>
    <span>Essenciarabe</span>
    <div>
        <a href="/inicio">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
        <a href="/decants">Decants</a>
        <a href="/perfumes">Perfumes</a>
    </div>

    <div>
        <div id="nav-actions">
            <div id="guest-group">

                <button id="login-btn">Entrar</button>
                <button id="register-btn">Registro</button>
                <button id="logout-btn">Salir</button>
                <button id="cart-btn">
                    🛒 <span id="cart-count">0</span>
                </button>
            </div>
        </div>
    </div>
</nav>